@import "./normalize.css";
@import "./vars.css";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  color: #9f9f9f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
